*{
  padding: 0px;
  margin: 0px;
}

body{
  /*Backgroud*/
  margin: 0px;
  padding: 0px;
  /*
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  */
}

img{
width: 35vw;
}

.menu{
/*background-color: #CFE6FF #2472CA*/
}
