:root{
  --background-color: #ffffff;
  --color:#0088D6;
  --color-secundario:#020237;
  --padding-container: 0vw 6vw;
}

*{
  padding: 0px;
  margin: 0px;
  background-color:var(--background-web);
}

body{
  /*Backgroud*/
  margin: 0px;
  padding: 0px;
  background-color: var(--background-web);

}

img{
  padding-top: 20px;
  width: 320px;
  padding: var(--padding-container);
}

.container{
 padding: var(--padding-container);
  
}

.boas_vindas{
  display: flex;
  justify-content: center;
  font-size: 4.5vw;
  color: var(--color);
}

.plataformas{
display: grid;
grid-template-columns: auto auto;
margin-top: 4em;
}

.img_youtube{
  width: 18vw;
}

.title_youtube{
  font-size:5vw;
  color: var(--color-secundario);
}

.text_youtube{
  font-size: 3.2vw;
}


