:root{
  --background-color: rgba(0, 0, 0, 0.13);
  --color:#0088D6;
  --color-secundario:#020237;
  --color-terciario:#ffff;
  --padding-container: 0vw 5vw;
}

*{
  padding: 0px;
  margin: 0px;
}

body{
  background-image: url(../img/backgroud-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-terciario);
}

.nav_top{
  background-color: var(--background-color);
}

.background_card{
  background-color:rgba(255, 255, 255, 0);
  border: none;
}

.logo_youtube{
  width: 18vw;
}

.text_click_youtube{
  color: var(--color-secundario);
}

.title_text_youtube{
  color: var(--color-secundario);
}

.card_forms{
  background-color: var(--background-color);
}